body {
    margin: 0;
}

#logo {
    margin: 10px;
    font-size: 20px;
    background-color: white;
}

#menuWrap {
    position: relative;
    top: -35px;
    left: 40px;
}

.menu {
    width: 100px;
    position: absolute;
}

#menuWrap .menu:nth-child(2) {
    left: 100px;
}

#menuWrap .menu:nth-child(3) {
    left: 200px;
}

#menuWrap .menu:nth-child(4) {
    left: 300px;
}

#content ul li {
    margin: 50px 0;
}

#footer {
    width: 300px;
    height: 120px;
    background-color: aliceblue;
    color: black;
}