* {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
}

.menuWrap {
    width: 340px;
    margin: 10px 215px;
    background-color: lightsteelblue;
    color: white;
}

.menu {
    padding-left: 10px;
}

.menuWrap .menu:hover {
    color: darksalmon;
    cursor: grabbing;
}

.siteDetail h2 {
    position: relative;
    font-size: 14px;
    text-align: center;
    top: 20px;
    left: 11px;
}

.siteDetail h4 {
    position: relative;
    font-size: 9px;
    top: 40px;
    left: 198px;
}

.siteDetail img {
    width: 415px;
    height: 160px;
    opacity: 40%;
    position: relative;
    top: -40px;
    left: 180px;
}

.freeSign {
    width: 60px;
    text-align: center;
    font-size: 12px;
    border: 1px solid silver;
    border-radius: 10px;
    margin-left: 300px;
    margin-top: -90px;
}

.freeSign:hover {
    background-color: red;
}


.devTool {
    width: 60px;
    text-align: center;
    font-size: 12px;
    border: 1px solid silver;
    border-radius: 10px;
    margin-left: 400px;
    margin-top: -17.5px;
}

