* {
    margin: 0;
    padding: 0;
}

#wrap {
    width: 750px;
}

#headeer {
    width: 100%;
    padding: 50px 20px;
}

#nav {
    padding: 5px 5px;
}

.title {
    text-align: center;
}

.menuWrap {
    width: 300px;
    height: 20px;
    text-align: center;
    margin: 3px 0 0 210px;
    padding: 0 10px;
}

.menuWrap .menu:hover {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

#main {
    
}

